@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
@import 'tailwindcss';
@plugin 'daisyui' {
    themes: light --default
}

@font-face {
    font-family: 'SOV_Laizen_Demo';
    src: url('/SOV_Laizen_Demo.ttf');
}

.font-sign {
    font-family: 'SOV_Laizen_Demo';
}

body{
     font-family: "Kanit", sans-serif;
}

.flex-center{
    @apply flex justify-center items-center
}

.flex-between{
    @apply flex justify-between items-center
}

.flex-end{
    @apply flex justify-end items-center
}

.btn{
    font-weight: normal;   
}